

.mainMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url('./assets/capa.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gameOverContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url('./assets/gameOver.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gridContainer {
    height: 100vh;
    
}

.sideMenu {
  display: block;
  width: 25%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  float: right;
  background-color: #000000;
}

.sideMenuTitle {
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 2rem;
}

.titleText {
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.title {
  display: block;
  width: 75%;
  height: 2rem;
  float: left;
  margin-left: auto;
  margin-right: auto;
  background-color: #e00000;
  align-content: center;
}

/* App.css */
.startBtn, .endBtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
 margin-bottom: 20px;

}

.startBtn {
  background-color: #4caf50;
  color: white;
}

.startBtn:hover {
  background-color: #45a049;
}

.endBtn {
  background-color: #f44336;
  color: white;
}

.endBtn:hover {
  background-color: #d32f2f;
}

.gameOver {
  color: rgb(201, 15, 15);
}