#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gridContainer {
    width: 1200px;
    height: 1200px;
    
}

.sideMenu {
  position: absolute;
  right: 0;
  top: 5%;
  height: 100%;
  width: 25%;
  background-color: #000000;
}

.sideMenuTitle {
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.titleText {
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  height: 5%;
  width: 100%;
  background-color: #e00000;
}

/* App.css */
.startBtn, .endBtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.startBtn {
  background-color: #4caf50;
  color: white;
}

.startBtn:hover {
  background-color: #45a049;
}

.endBtn {
  background-color: #f44336;
  color: white;
}

.endBtn:hover {
  background-color: #d32f2f;
}
